---
// Fonts
import '@fontsource/bungee';
import '@fontsource/space-mono';
import '@fontsource/poppins';

import Header from "../layouts/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header title="Upcoming Events" description="Sign up for events in your community to make a positive impact on the world." />
	</body>
</html>
