<div
    class="flex footer-background pt-8 px-12 justify-center mt-32 items-center"
>
    <div class="flex flex-col footer-width">
        <div class="flex items-center justify-center">
            <nav>
                <ul class="flex items-center justify-end space-x-4">
                    <li>
                        <a href="/" class="font-navlink font-semibold">Home</a>
                    </li>
                    <li>
                        <a href="about-us" class="font-navlink font-semibold"
                            >Our Mission</a
                        >
                    </li>
                    <li>
                        <a href="services" class="font-navlink font-semibold"
                            >Services</a
                        >
                    </li>
                    <li>
                        <a href="blog" class="font-navlink font-semibold"
                            >Blog</a
                        >
                    </li>
                    <li>
                        <a href="events" class="font-navlink font-semibold"
                            >Events</a
                        >
                    </li>
                    <li>
                        <a href="store" class="font-navlink font-semibold"
                            >Store</a
                        >
                    </li>
                    <li>
                        <a
                            href="get-involved"
                            class="font-navlink font-semibold">Get Involved</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <div class="p-3"></div>
        <div class="flex justify-evenly items-center">
            <a href="/">
                <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M16.25 4.66663H33.75C40.4167 4.66663 45.8334 10.0833 45.8334 16.75V34.25C45.8334 37.4547 44.5603 40.5281 42.2942 42.7942C40.0282 45.0602 36.9547 46.3333 33.75 46.3333H16.25C9.58335 46.3333 4.16669 40.9166 4.16669 34.25V16.75C4.16669 13.5453 5.43975 10.4718 7.70581 8.20575C9.97188 5.93969 13.0453 4.66663 16.25 4.66663ZM15.8334 8.83329C13.8442 8.83329 11.9366 9.62347 10.5301 11.03C9.12353 12.4365 8.33335 14.3442 8.33335 16.3333V34.6666C8.33335 38.8125 11.6875 42.1666 15.8334 42.1666H34.1667C36.1558 42.1666 38.0635 41.3765 39.47 39.9699C40.8765 38.5634 41.6667 36.6558 41.6667 34.6666V16.3333C41.6667 12.1875 38.3125 8.83329 34.1667 8.83329H15.8334ZM35.9375 11.9583C36.6282 11.9583 37.2906 12.2327 37.7789 12.721C38.2673 13.2094 38.5417 13.8718 38.5417 14.5625C38.5417 15.2531 38.2673 15.9155 37.7789 16.4039C37.2906 16.8923 36.6282 17.1666 35.9375 17.1666C35.2469 17.1666 34.5845 16.8923 34.0961 16.4039C33.6077 15.9155 33.3334 15.2531 33.3334 14.5625C33.3334 13.8718 33.6077 13.2094 34.0961 12.721C34.5845 12.2327 35.2469 11.9583 35.9375 11.9583ZM25 15.0833C27.7627 15.0833 30.4122 16.1808 32.3657 18.1343C34.3192 20.0878 35.4167 22.7373 35.4167 25.5C35.4167 28.2626 34.3192 30.9122 32.3657 32.8657C30.4122 34.8192 27.7627 35.9166 25 35.9166C22.2374 35.9166 19.5878 34.8192 17.6343 32.8657C15.6808 30.9122 14.5834 28.2626 14.5834 25.5C14.5834 22.7373 15.6808 20.0878 17.6343 18.1343C19.5878 16.1808 22.2374 15.0833 25 15.0833ZM25 19.25C23.3424 19.25 21.7527 19.9084 20.5806 21.0805C19.4085 22.2526 18.75 23.8424 18.75 25.5C18.75 27.1576 19.4085 28.7473 20.5806 29.9194C21.7527 31.0915 23.3424 31.75 25 31.75C26.6576 31.75 28.2473 31.0915 29.4194 29.9194C30.5915 28.7473 31.25 27.1576 31.25 25.5C31.25 23.8424 30.5915 22.2526 29.4194 21.0805C28.2473 19.9084 26.6576 19.25 25 19.25Z"
                        fill="black"></path>
                </svg>
            </a>
            <a href="/">
                <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M45.8334 25.5C45.8334 14 36.5 4.66663 25 4.66663C13.5 4.66663 4.16669 14 4.16669 25.5C4.16669 35.5833 11.3334 43.9791 20.8334 45.9166V31.75H16.6667V25.5H20.8334V20.2916C20.8334 16.2708 24.1042 13 28.125 13H33.3334V19.25H29.1667C28.0209 19.25 27.0834 20.1875 27.0834 21.3333V25.5H33.3334V31.75H27.0834V46.2291C37.6042 45.1875 45.8334 36.3125 45.8334 25.5Z"
                        fill="black"></path>
                </svg>
            </a>
            <a href="/">
                <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M20.8333 31.75L31.6458 25.5L20.8333 19.25V31.75ZM44.9166 15.4375C45.1875 16.4166 45.375 17.7291 45.5 19.3958C45.6458 21.0625 45.7083 22.5 45.7083 23.75L45.8333 25.5C45.8333 30.0625 45.5 33.4166 44.9166 35.5625C44.3958 37.4375 43.1875 38.6458 41.3125 39.1666C40.3333 39.4375 38.5416 39.625 35.7916 39.75C33.0833 39.8958 30.6041 39.9583 28.3125 39.9583L25 40.0833C16.2708 40.0833 10.8333 39.75 8.68746 39.1666C6.81246 38.6458 5.60413 37.4375 5.08329 35.5625C4.81246 34.5833 4.62496 33.2708 4.49996 31.6041C4.35413 29.9375 4.29163 28.5 4.29163 27.25L4.16663 25.5C4.16663 20.9375 4.49996 17.5833 5.08329 15.4375C5.60413 13.5625 6.81246 12.3541 8.68746 11.8333C9.66663 11.5625 11.4583 11.375 14.2083 11.25C16.9166 11.1041 19.3958 11.0416 21.6875 11.0416L25 10.9166C33.7291 10.9166 39.1666 11.25 41.3125 11.8333C43.1875 12.3541 44.3958 13.5625 44.9166 15.4375Z"
                        fill="black"></path>
                </svg>
            </a>
            <a href="/">
                <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M39.5833 6.75C40.6884 6.75 41.7482 7.18899 42.5296 7.97039C43.311 8.75179 43.75 9.8116 43.75 10.9167V40.0833C43.75 41.1884 43.311 42.2482 42.5296 43.0296C41.7482 43.811 40.6884 44.25 39.5833 44.25H10.4167C9.3116 44.25 8.25179 43.811 7.47039 43.0296C6.68899 42.2482 6.25 41.1884 6.25 40.0833V10.9167C6.25 9.8116 6.68899 8.75179 7.47039 7.97039C8.25179 7.18899 9.3116 6.75 10.4167 6.75H39.5833ZM38.5417 39.0417V28C38.5417 26.1987 37.8261 24.4713 36.5524 23.1976C35.2787 21.9239 33.5513 21.2083 31.75 21.2083C29.9792 21.2083 27.9167 22.2917 26.9167 23.9167V21.6042H21.1042V39.0417H26.9167V28.7708C26.9167 27.1667 28.2083 25.8542 29.8125 25.8542C30.586 25.8542 31.3279 26.1615 31.8749 26.7084C32.4219 27.2554 32.7292 27.9973 32.7292 28.7708V39.0417H38.5417ZM14.3333 18.3333C15.2616 18.3333 16.1518 17.9646 16.8082 17.3082C17.4646 16.6518 17.8333 15.7616 17.8333 14.8333C17.8333 12.8958 16.2708 11.3125 14.3333 11.3125C13.3996 11.3125 12.504 11.6834 11.8437 12.3437C11.1834 13.004 10.8125 13.8996 10.8125 14.8333C10.8125 16.7708 12.3958 18.3333 14.3333 18.3333ZM17.2292 39.0417V21.6042H11.4583V39.0417H17.2292Z"
                        fill="black"></path>
                </svg>
            </a>
            <a href="/">
                <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M40.1458 11.6042C37.375 10.3125 34.375 9.37501 31.25 8.83335C31.2226 8.83247 31.1953 8.83761 31.1701 8.84841C31.1449 8.85921 31.1224 8.8754 31.1041 8.89585C30.7291 9.58335 30.2916 10.4792 30 11.1667C26.6854 10.6667 23.3145 10.6667 20 11.1667C19.7083 10.4583 19.2708 9.58335 18.875 8.89585C18.8541 8.85418 18.7916 8.83335 18.7291 8.83335C15.6041 9.37501 12.625 10.3125 9.83329 11.6042C9.81246 11.6042 9.79163 11.625 9.77079 11.6458C4.10413 20.125 2.54163 28.375 3.31246 36.5417C3.31246 36.5833 3.33329 36.625 3.37496 36.6458C7.12496 39.3958 10.7291 41.0625 14.2916 42.1667C14.3541 42.1875 14.4166 42.1667 14.4375 42.125C15.2708 40.9792 16.0208 39.7708 16.6666 38.5C16.7083 38.4167 16.6666 38.3333 16.5833 38.3125C15.3958 37.8542 14.2708 37.3125 13.1666 36.6875C13.0833 36.6458 13.0833 36.5208 13.1458 36.4583C13.375 36.2917 13.6041 36.1042 13.8333 35.9375C13.875 35.8958 13.9375 35.8958 13.9791 35.9167C21.1458 39.1875 28.875 39.1875 35.9583 35.9167C36 35.8958 36.0625 35.8958 36.1041 35.9375C36.3333 36.125 36.5625 36.2917 36.7916 36.4792C36.875 36.5417 36.875 36.6667 36.7708 36.7083C35.6875 37.3542 34.5416 37.875 33.3541 38.3333C33.2708 38.3542 33.25 38.4583 33.2708 38.5208C33.9375 39.7917 34.6875 41 35.5 42.1458C35.5625 42.1667 35.625 42.1875 35.6875 42.1667C39.2708 41.0625 42.875 39.3958 46.625 36.6458C46.6666 36.625 46.6875 36.5833 46.6875 36.5417C47.6041 27.1042 45.1666 18.9167 40.2291 11.6458C40.2083 11.625 40.1875 11.6042 40.1458 11.6042ZM17.75 31.5625C15.6041 31.5625 13.8125 29.5833 13.8125 27.1458C13.8125 24.7083 15.5625 22.7292 17.75 22.7292C19.9583 22.7292 21.7083 24.7292 21.6875 27.1458C21.6875 29.5833 19.9375 31.5625 17.75 31.5625ZM32.2708 31.5625C30.125 31.5625 28.3333 29.5833 28.3333 27.1458C28.3333 24.7083 30.0833 22.7292 32.2708 22.7292C34.4791 22.7292 36.2291 24.7292 36.2083 27.1458C36.2083 29.5833 34.4791 31.5625 32.2708 31.5625Z"
                        fill="black"></path>
                </svg>
            </a>
        </div>
        <p class="text-center font-navlink my-6 font-bold">
            Copyright © 2023 RE-Tech | Powered by RE-Tech
        </p>
    </div>
</div>

<style>
    .footer-background {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .footer-width {
        width: 70%;
    }
</style>
